{% extends "devices_farm/base.html" %}

{% block content %}
    <table border="1" width="50%" align="center">
        <tr>
            <th>Devices</th>
        </tr>
        {% for device in devices %}
        <tr>
            <td>
                <!-- possible to use "def get_absolute_url(self)" instead -->
                <a href="{% url 'devices_farm:device' device.id %}">
                    {{ device.device_name }} -
                    {{ device.platform }} -
                    {{ device.device_gpu }} -
                    {{ device.type }} -
                    {{ device.holder }}
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td>
                <h3>No devices have been added yet.</h3>
            </td>
        </tr>
        {% endfor %}
    </table>
    <form action="{% url 'devices_farm:add_device' %}">
        <button name="submit">Add new device</button>
    </form>

{% endblock content %}