{% extends "devices_farm/base.html" %}

{% block content %}
    <h1>{{ device.device_name }}</h1>
    <div class="container-fluid d-flex">
        <table class="table table-hover table-bordered table-sm">
            <thead>
                <tr>
                    <th scope="col">Parameter name</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>

            <tbody>
            {% for name, value in device.get_fields %}
                <tr>
                    <th scope="row">{{ name }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <a href="{% url 'devices_farm:edit-device' device.pk %}" role="button">
            <button type="button" class="btn btn-success">Edit</button></a>
        <a href="{% url 'devices_farm:devices' %}" role="button">
            <button type="button" class="btn btn-warning">Cancel</button></a>
    </div>


{% endblock content %}