{% extends "devices_farm/base.html" %}

{% block content %}
    <h1>Devices</h1>
        {% for device in devices %}
            <li>
                <!-- possible to use "def get_absolute_url(self)" instead -->
                <a href="{{ device.get_absolute_url }}">
                    {{ device.platform }} -
                    {{ device.device_name }} -
                    {{ device.type }} -
                    {{ device.holder }}
                </a>
            </li>
        {% empty %}
            <li>
                <h3>No devices have been added yet.</h3>
            </li>
        {% endfor %}
    <form action="{% url 'devices_farm:add-device' %}">
        <button name="submit">Add new device</button>
    </form>

{% endblock content %}