{% extends "devices_farm/base.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-start table-responsive">
            <div class="col-6">
            <h1>{{ device.device_name }}</h1>
            <table class="table table-hover table-bordered table-sm">
                <thead>
                    <tr class="table-secondary">
                        <th>Parameter name</th>
                        <th>Value</th>
                    </tr>
                </thead>

                <tbody>
                {% for name, value in device.get_fields %}
                    <tr>
                        <th>{{ name }}</td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <div>
        <a class="btn btn-outline-success" href="{% url 'devices_farm:edit-device' device.pk %}" role="button">
            Edit
        </a>
        <a class="btn btn-outline-danger" href="{% url 'devices_farm:devices' %}" role="button">
            Cancel
        </a>
    </div>


{% endblock content %}