{% extends "devices_farm/base.html" %}

{% block content %}
    <h1>{{ device.device_name }}</h1>
    <table border="1px solid black">
        <tr>
            <th>Parameter name</th>
            <th >Value</th>
        </tr>

        {% for name, value in device.get_fields %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
    </table>
    <div>
        <a href="{% url 'devices_farm:edit-device' device.pk %}">
            <button name="Edit">Edit</button>
        </a>
    </div>
    <div>
        <a href="{% url 'devices_farm:devices' %}">
            <button name="Cancel">Cancel</button>
        </a>
    </div>


{% endblock content %}