{% extends "devices_farm/base.html" %}
{% load static %}

{% block content %}
    <h1>All Devices</h1>

    <div>
        {% csrf_token %}
        {% for device in devices %}
            <li class="device-item">
                <a href="{{ device.get_absolute_url }}" class="device-item-url">
                    {{ device.platform }} -
                    {{ device.device_name }} -
                    {{ device.type }} -
                    {{ device.holder }}
                </a>
                {% if user == device.holder %}
                    <input value="Return to base" type="button" class="return-to-base"
                           data-ajax-target=""/>
                {% else %}
                    <input value="Assign to ME" type="button" class="assign-to-me" id="{{ device.pk }}"
                           data-target="{% url 'devices_farm:change_holder' %}" target-user="{{ user.id }}"
                           token="{{ csrf_token }}" device_pk = "{{ device.pk }}"/>
                {% endif %}
            </li>
        {% empty %}
            <li>
                <h3>There isn't added devices.</h3>
            </li>
        {% endfor %}
    </div>

    <form action="{% url 'devices_farm:add-device' %}">
        <button name="submit" class="btn btn-primary">Add new device</button>
    </form>

{% endblock content %}